html{
  font-size: 62.5%;
 
}
    @font-face {
      font-family: 'fuente1' ;
      src: url(../../src/Fonts/NightmareBeforeChristmas-2v8e.ttf);
    }
    body {
      margin: 0;
     
      
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      background-color: black

     }

    //  navbar
     @import'../Components/NavBar/navBar.scss';
    //  CartWidget
    @import '../Components/CartWidget/CartWidget.scss';
    // Item List Container 
    @import '../Components/ItemListContainer/itemListContainer.scss';
    @import '../Components/itemDetailContainer/itemDetailContainer.scss';
    // Login Container//
    @import '../Components/loginContainer/loginContainer.scss';
    // Cart Screen//
    @import '../Components/CartScreen/CartScreen.scss';